.tarea{
    border:1px solid gray;
    background-color: white;
    padding: 10px;
    position: relative;
    width: 60%;
    margin: 2px auto;
    font-size: 1.5em;
}
.texto{
    
}

.tarea-pendiente .texto {  /* Estilo predeterminado para el texto de la tarea pendiente */
    
}
.tarea-realizada .texto{
    text-decoration: line-through;    /* Tachar el texto */
    color: #888;                  /* Cambiar el color del texto para indicar que está completado */
}

.papelera{
    position: absolute;
    top:10px;
    right: 5px;
    color: #999;
}
.papelera:hover{
    color:#444;
    cursor: pointer;
}
.check{
    position: absolute;
    top:10px;
    right: 67px;
    color: #999;
}
.check:hover{
    color:#444;
    cursor: pointer;
}
.elemEdit{
    position: absolute;
    top:10px;
    right: 35px;
    color: #999;
}
.elemEdit:hover{
    color:#444;
    cursor: pointer;
}


#nuevaTarea{
    display: inline-block;
    border:1px solid gray;
    padding: 10px;
    position: relative;
    width: 40%;
    margin: 10px auto;
    font-size: 1.5em;
    margin-left: 19%;
}
#botonNuevaTarea{
    display: inline-block;
    border:1px solid gray;
    padding: 10px;
    position: relative;
    width: 20%;
    margin: 10px auto;
    font-size: 1.5em;
    cursor: pointer;
}

#preloaderInsertar{
    height: 40px;
    vertical-align: middle;
    visibility: hidden;
}

#preloaderEditar{
    height: 40px;
    vertical-align: middle;
    visibility: hidden;
}

.preloaderBorrar{
    position: absolute;
    top:5px;
    right: 2px;
    height: 30px;
    visibility: hidden;
}

.imagenTarea{    
    height: 100px; 
    border: 1px solid black;    
}

.mensaje_error{
    color:red;
    font-style: oblique;
    font-size: 0.7em;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../images/fondo.jpg');
    background-size: cover; /* Para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Para evitar que se repita la imagen */
}

.tituloPagina {
    text-align: center;
    font-size: 90px;
    margin-top: 60px;
    color: #333;
    background-color: #fff;
    border-radius: 50px;
    opacity: 80%;
    height: 6.5rem;
}

.titulo-y-enlace {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    opacity: 80%;
    height: 6.5rem;
    margin-bottom: 4rem;
   
}

.emailUsuario {
    margin-top: 10px;
    margin-left: 5rem;
    margin-right: 5rem;
}

.contenedor{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

form {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 50px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset{
    padding: 30px;
    font-family: system-ui;
}

form input[type="email"],
form input[type="password"],
form input[type="text"] {
    width: 92%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#contenedorEditar{
    border:1px solid gray;
    background-color: white;
    padding: 10px;
    position: relative;
    width: 60%;
    margin: 2px auto;
    font-size: 1.5em;
    visibility: hidden;
}

#botonCancelarEditar{
    display: inline-block;
    border:1px solid gray;
    padding: 10px;
    position: relative;
    width: 20%;
    margin: 10px auto;
    font-size: 1.5em;
    cursor: pointer;
}

#botonAceptarEditar{
    display: inline-block;
    border:1px solid gray;
    padding: 10px;
    position: relative;
    width: 20%;
    margin: 10px auto;
    font-size: 1.5em;
    cursor: pointer;
}

.campoOculto{
    display: none;
}
.centrar-txt{
    text-align: center;
}